.displayHolder {
    display: flex;
    flex-direction: column;
    gap: 3.57vw;
}

.displayContent {
    display: flex;
    gap: 3.57vw;                                 
}

.displayDirectory {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.displayCarousel {
    display: flex;
    flex-direction: column;
    width: 50%;
}

/* */
.carouselContainer {
    border-top: 0.035vw solid #cccccc80;
    padding: 1.79vw 0;
    display: flex;
    gap: 2.14vw;
}


.projectCardHolder {
    width: 20.71vw;
}
/*  */

@media only screen and (max-width: 992px) {
    .displayHolder {
        gap: 4.28vw;
    }

    .displayContent {
        gap: 2.98vw;                                 
    }

    .carouselContainer {
        border-top: 0.042vw solid #cccccc80;
        padding: 2.15vw 0;
        gap: 1.78vw;
    }

    .projectCardHolder {
        width: 24.85vw;
    }
}

@media only screen and (max-width: 576px) {
    .displayHolder {
        gap: 9.42vw;
    }

    .displayContent {
        flex-direction: column;
        gap: 6.56vw;                                 
    }
    
    .displayDirectory {
        width: 100%;
    }
    
    .displayCarousel {
        width: 100%;
    }

    /* */
    .carouselContainer {
        border-top: 0.092vw solid #cccccc80;
        padding: 4.73vw 0;
        flex-direction: column;
        gap: 9.65vw;
    }
    
    .projectCardHolder {
        width: 100%;
    }
    /*  */
}