.preFoot {
    padding: var(--tb-margin-desktop) var(--lr-margin-desktop);
}

.preFootHolder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5.71vw;
    gap: 5.71vw;
    background-color: var(--main-black);
    color: var(--main-white);
    border-radius: 0.71vw;
}

.preFootImageBox {
    width: 60%;
}

.preFootImage {

}

.preFootTextBox {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1.43vw;
}

.preFootTag {
    font-size: var(--reg-p-16-desktop);
    font-weight: 300;
}

.preFootTitle {
    font-size: var(--h3-30-desktop);
}

.preFootText {
    font-size: var(--reg-p-16-desktop);
    font-weight: 400;
    line-height: 1.7;
}

.ctaGroupHolder {
    display: flex;
    gap: 1.79vw;
    align-items: center;
    margin-top: 0.71vw;
}

.ctaGroupTag {

}

.ctaGroupArrow {
    width: 1.79vw;
}

.ctaGroupLinkBox {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 992px) {
    .preFoot {
        padding: var(--tb-margin-tablet) var(--lr-margin-tablet);
    }
    
    .preFootHolder {
        padding: 6.85vw;
        gap: 6.85vw;
        border-radius: 0.85vw;
    }

    .preFootImageBox {
        width: 50%;
    }
    
    .preFootTextBox {
        width: 50%;
        gap: 1.72vw;
    }
    
    .preFootTag {
        font-size: var(--reg-p-16-tablet);
    }
    
    .preFootTitle {
        font-size: var(--h3-30-tablet);
    }
    
    .preFootText {
        font-size: var(--reg-p-16-tablet);
    }
    
    .ctaGroupHolder {
        gap: 2.15vw;
        margin-top: 0.85vw;
    }
    
    .ctaGroupArrow {
        width: 2.15vw;
    }
}

@media only screen and (max-width: 576px) {
    .preFoot {
        padding: var(--tb-margin-mobile) var(--lr-margin-mobile);
    }
    
    .preFootHolder {
        padding: 6.85vw;
        border-radius: 1.87vw;
    }
    
    .preFootImageBox {
        display: none;
    }

    .preFootTextBox {
        width: 100%;
        gap: 4.73vw;
    }
    
    .preFootTag {
        font-size: var(--reg-p-16-mobile);
    }
    
    .preFootTitle {
        font-size: var(--h3-30-mobile);
    }
    
    .preFootText {
        font-size: var(--reg-p-16-mobile);
    }
    
    .ctaGroupHolder {
        gap: 3.87vw;
        margin-top: 1.87vw;
    }
    
    .ctaGroupArrow {
        width: 4.73vw;
    }
}