.bigPhraseSection {
    padding: var(--tb-margin-desktop) var(--lr-margin-desktop);
}

.bigPhrase {
    font-size: var(--h2-45-desktop);
    font-weight: 300;
    line-height: 1.3;
}

@media only screen and (max-width: 992px) {
    .bigPhraseSection {
        padding: var(--tb-margin-tablet) var(--lr-margin-tablet);
    }
    
    .bigPhrase {
        font-size: var(--h2-45-tablet);
        line-height: 1.35;
    }
}

@media only screen and (max-width: 576px) {
    .bigPhraseSection {
        padding: var(--tb-margin-mobile) var(--lr-margin-mobile);
    }
    
    .bigPhrase {
        font-size: var(--h2-45-mobile);
        line-height: 1.45;
    }
}